* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(255, 47, 0);
}
::-webkit-scrollbar{
    width: 0px;
}
